/*----------------------------------------------------------------------[HEADER-LOGO]--*/
#header-logo {
  background-color: blue;
  align-items: center;
  display: flex;
  padding: 5px;
}

#header-logo > img {
  height: auto;
  width: 100%;
}

/*---------------------------------------------------------------------[HEADER-TITLE]--*/
#header-title {
  background-color: lightblue;
  align-self: center;
  font-family: GodEaterRegular, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
}