:root {
  --win-height: 800px;
  --win-width: 600px;
  --menu-width: 80px;
  --header-height: 80px;
  --actions-height: 10%;
  --content-height: calc(var(--win-height) - var(--header-height));
}

@font-face {
  font-family: GodEaterRegular;
  src: url(../../resources/fonts/GodEaterRegular.ttf);
}

html,
body {
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

body {
  margin: 0;
  background-color: white;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

/*-----------------------------------------------------------------------[APP LAYOUT]--*/
#main-container {
  background-color: dimgray;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--menu-width) auto;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas: 
    "logo title"
    "sidemenu manager";
}

#header-logo { grid-area: logo; }
#header-title { grid-area: title; }
#side-menu { grid-area: sidemenu; }
#manager-panel { grid-area: manager;}

/*---------------------------------------------------------------------[CONTENT-AREA]--*/
#content-sets {
  background-color: darkslateblue;
}

#weapon-manager {
  background-color: darkturquoise;
}

#gun-manager {
  background-color: darkseagreen;
}

#shield-manager {
  background-color: darkorchid
}

#skill-manager {
  background-color: darksalmon;
}
