/*-----------------------------------------------------------------------[MAIN-PANEL]--*/
#side-menu {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
}

/*------------------------------------------------------------------[GENERAL-CLASSES]--*/
.menu-element {
  background-color: lightgoldenrodyellow;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: GodEaterRegular;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  height: 85px;
  opacity: 0.7;
  padding-top: 5px;
  width: 100%;
}

.menu-element:focus { outline: none; }
.menu-element:hover { opacity: 1; }

.menu-element img {
  align-self: center;
  height: 60px;
  width: 60px;
}

.menu-element span { margin-top: 5px; }

/*-----------------------------------------------------------------[SPECIFIC STYLING]--*/
#menu-about-manager { border-bottom: 1.5px solid black; }