#skill-information-description { 
  text-align: center;
  width: 100%;
}
#skill-information-description[display_="true"] { display: block; }
#skill-information-description[display_="false"] { display: none; }


#skill-information-compound-description[display_="true"] { display: block; }
#skill-information-compound-description[display_="false"] { display: none; }