:root {
  --win-height: 800px;
  --win-width: 600px;
  --menu-width: 80px;
  --header-height: 80px;
  --actions-height: 10%;
}

@font-face {
  font-family: GodEaterRegular;
  src: url(../media/fonts/GodEaterRegular.ttf);
}

html,
body {
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

body {
  margin: 0;
  background-color: white;
}

/*-----------------------------------------------------------------------[APP LAYOUT]--*/
#main-container {
  background-color: dimgray;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--menu-width) auto;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas: 
    "logo title"
    "sidemenu content";
}

#header-logo {
  background-color: blue;
  grid-area: logo;
  align-items: center;
  display: flex;
  padding: 5px;
}

#header-title {
  background-color: lightblue;
  grid-area: title;
  align-self: center;
  font-family: GodEaterRegular, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
}

#side-menu {
  background-color: lightcoral;
  grid-area: sidemenu;
  display: flex;
  flex-direction: column;
}

#content-panel {
  background-color: darkgray;
  grid-area: content;
}

/*----------------------------------------------------------------------[HEADER-LOGO]--*/
#header-logo > img {
  height: auto;
  width: 100%;
}

/*------------------------------------------------------------------------[SIDE-MENU]--*/

.menu-element {
  background-color: lightgoldenrodyellow;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: GodEaterRegular;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  height: 85px;
  opacity: 0.7;
  padding-top: 5px;
  width: 100%;
}

.menu-element:focus { outline: none; }
.menu-element:hover { opacity: 1; }

.menu-element img {
  align-self: center;
  height: 60px;
  width: 60px;
}

.menu-element span { margin-top: 5px; }

#menu-content-about { border-bottom: 1.5px solid black; }

/*---------------------------------------------------------------------[CONTENT-AREA]--*/
.content-container {
  height: 100%;
  width: 100%;
}

.content-container[status_="active"] {
  display: block;
}

.content-container[status_="inactive"] {
  display: none;
}

#content-sets {
  background-color: darkslateblue;
}

#content-weapons {
  background-color: darkturquoise;
}

#content-guns {
  background-color: darkseagreen;
}

#content-shields {
  background-color: darkorchid
}

#content-skills {
  background-color: darksalmon;
}

.manager-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--actions-height);
  background-color: crimson;
  opacity: 0.7;
  box-sizing: border-box;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.manager-content {
  display: block;
  width: 100%;
  height: calc(100% - var(--actions-height));
  background-color: darkmagenta;
  opacity: 0.7;
}

.btn-action {
  margin: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}

#skills-displayer {
  width: 65%;
  height: 100%;
  border-right: 2px double black;
}

#ul-skills {
  margin: 0;
  padding: 5px;
  columns: 2;
  list-style: none;
  text-align: center;
  font-family: GodEaterRegular;
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
  width: 95%;
}

#ul-skills li {
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}