#header-logo {
  background-color: blue;
  align-items: center;
  display: flex;
  padding: 5px;
}
#header-logo > img {
  height: auto;
  width: 100%;
}
#header-title {
  background-color: lightblue;
  align-self: center;
  font-family: GodEaterRegular, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
}:root {
  --win-height: 800px;
  --win-width: 600px;
  --menu-width: 80px;
  --header-height: 80px;
  --actions-height: 10%;
  --content-height: calc(var(--win-height) - var(--header-height));
}
@font-face {
  font-family: GodEaterRegular;
  src: url(../../resources/fonts/GodEaterRegular.ttf);
}
html,
body {
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}
body {
  margin: 0;
  background-color: white;
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
#main-container {
  background-color: dimgray;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--menu-width) auto;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas: 
    "logo title"
    "sidemenu manager";
}
#header-logo { grid-area: logo; }
#header-title { grid-area: title; }
#side-menu { grid-area: sidemenu; }
#manager-panel { grid-area: manager;}
#content-sets {
  background-color: darkslateblue;
}
#weapon-manager {
  background-color: darkturquoise;
}
#gun-manager {
  background-color: darkseagreen;
}
#shield-manager {
  background-color: darkorchid
}
#skill-manager {
  background-color: darksalmon;
}
#skill-displayer {
  width: 65%;
  height: calc(0.8*(var(--content-height)));
  border-right: 2px double black;
  overflow-y: auto;
  background-color: lightblue;
  display: block;
  box-sizing: border-box;
}
*/
#skill-ul {
  margin: 0;
  list-style: none;
  text-align: center;
  font-family: fantasy;
  font-size: 14px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 10px;
}
#skill-ul li {
  height: 32px;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  float: left;
  width: 45%;
  background-color: beige;
  opacity: 0.7;
  cursor: pointer;
}
#skill-ul li:hover { opacity: 1; }
*/#manager-panel {
    background-color: darkgray;
}
.manager-container {
  height: 100%;
  width: 100%;
}
.manager-container[status_="active"] { display: block; }
.manager-container[status_="inactive"] { display: none; }
.manager-filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--actions-height);
  background-color: crimson;
  opacity: 0.7;
  box-sizing: border-box;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
}
.btn-action {
  margin: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}
.btn-filter {
  font-family: GodEaterRegular;
  font-size: 12px;
  text-align: center;
}
.btn-filter img {
  width: 100%;
  height: 100%;
}
.manager-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - var(--actions-height));
  background-color: darkmagenta;
  opacity: 0.7;
}
.displayer-content {
  width: 65%;
  height: calc(0.8*(var(--content-height)));
  border-right: 2px double black;
  overflow-y: auto;
  background-color: lightblue;
  display: block;
  box-sizing: border-box;
}
.displayer-list {
  margin: 0;
  list-style: none;
  text-align: center;
  font-family: fantasy;
  font-size: 14px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 10px;
}
.displayer-list li {
  height: 32px;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  float: left;
  width: 45%;
  background-color: beige;
  opacity: 0.7;
  cursor: pointer;
}
.displayer-list li:hover { opacity: 1; }
.information-content {
  width: calc(35% - 2px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.information-header {
  width: 100%;
  height: 30%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: GodEaterRegular;
  font-size: 20px;
  color: aliceblue;
}
.information-header > span { 
  text-align: center;
  padding: 2px;
}
#skill-information-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  height: 10%;
  background-color: blueviolet;
}
.information-body {
  width: 100%;
  height: 70%;
  background-color: violet;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: fantasy;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
.information-list-container { 
  text-align: center;
  width: 100%;
}
.information-list {
  margin: 0;
  margin-top: 10px;
  list-style: none;
  text-align: center;
  font-family: fantasy;
  font-size: 13px;
  padding: 0;
  box-sizing: border-box;
}
.information-list li {
  height: 32px;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}#side-menu {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
}
.menu-element {
  background-color: lightgoldenrodyellow;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: GodEaterRegular;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  height: 85px;
  opacity: 0.7;
  padding-top: 5px;
  width: 100%;
}
.menu-element:focus { outline: none; }
.menu-element:hover { opacity: 1; }
.menu-element img {
  align-self: center;
  height: 60px;
  width: 60px;
}
.menu-element span { margin-top: 5px; }
#menu-about-manager { border-bottom: 1.5px solid black; }#skill-information-description { 
  text-align: center;
  width: 100%;
}
#skill-information-description[display_="true"] { display: block; }
#skill-information-description[display_="false"] { display: none; }
#skill-information-compound-description[display_="true"] { display: block; }
#skill-information-compound-description[display_="false"] { display: none; }